.header-container {
  padding: 10px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
}


.logo{
  width: 100px;
  border-radius: 50px;
}

.navbar > ul{
  padding: 0px 10px;
  display: flex;
  list-style-type: none;
  cursor: pointer;
  
}

.navbar > ul > li {
  padding: 0px 10px;
  margin: 10px;
}

.search{
 margin-top: 10px;
}
.res-container{
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.res-card{
  width: 200px;
  
  background-color: #f0f0f0;
  padding: 5px;
  margin: 8px;
}
.res-card:hover {
  border: 1px solid black;
  cursor: pointer;
}


.res-img{
  width: 190px;
  padding: 5px;
  border-radius: 10px;
}

.filter-button {
  margin: 10px;
}

.shimmer-container{
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card{
  background-color: #f0f0f0;
  width: 200px;
  height: 400px;
  margin: 15px;
}

.login-btn {
  padding: 0 20px;
  cursor: pointer;
}

.header-container-shimmer{
  width: 100%;
  height: 120px;
  border: 1px solid black;
}